.env
.idea/
.DS_Store

vendor/
cms/.editorconfig
cms/.gitattributes
cms/LICENSE.txt
cms/README.md
cms/recipes/
cms/web/core/
cms/web/modules/contrib/
cms/web/profiles/contrib/
cms/web/themes/contrib/

cms/web/sites/*/files
cms/web/sites/*/private
private/*
tmp/*

# Ignore configuration files that may contain sensitive information.
/cms/web/sites/*/settings*.php
/cms/web/sites/*/services*.yml

# Ignore SimpleTest multi-site environment.
/cms/web/sites/simpletest
